<mat-form-field class="search">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="filtrar($event)" placeholder="buscar">
  </mat-form-field>
  <div class="table_align">
    <table mat-table [dataSource]="dataSource" class="" matSort>
      <ng-container matColumnDef="bookId">
        <th mat-header-cell *matHeaderCellDef style="width:8%;"> ID </th>
        <td mat-cell *matCellDef="let book"> {{book.bookId}} </td>
      </ng-container>
    
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
        <td mat-cell *matCellDef="let book"> {{book.title}} </td>
      </ng-container>

      <ng-container matColumnDef="authors">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Autores </th>
        <td mat-cell *matCellDef="let book"> {{book.authors}} </td>
      </ng-container>

      <ng-container matColumnDef="editorial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Editorial </th>
        <td mat-cell *matCellDef="let book"> {{book.editorial}} </td>
      </ng-container>
  
      <ng-container matColumnDef="short_description" id="contenido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
        <td mat-cell *matCellDef="let book"> {{book.short_description | slice:0:200 }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;" (click)="getRecord(row)"></tr>
    </table>
  </div>